/* vietnamese */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(../assets/libraries/webfonts/If2RXTr6YS-zF4S-kcSWSVi_szLviuEViw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(../assets/libraries/webfonts/If2RXTr6YS-zF4S-kcSWSVi_szLuiuEViw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(../assets/libraries/webfonts/If2RXTr6YS-zF4S-kcSWSVi_szLgiuE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../assets/libraries/webfonts/kJEqBuEW6A0lliaV_m88ja5TwvZ_LZmFDA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../assets/libraries/webfonts/kJEqBuEW6A0lliaV_m88ja5TwvZ-LZmFDA.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../assets/libraries/webfonts/kJEqBuEW6A0lliaV_m88ja5TwvZwLZk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



/*-------------------------- ROOT CSS ----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
}

:root {
  --primary-color: #fff;
  --secondary-color: #ffef00;
  --grey-tertiary-color: #777;
  --tertiary-color: #dc2c10;
  --text-color: #111;
  --shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  --transition: all 0.4s ease-in-out;

  --width-lg: 85%;
  --width-sm: 95%;
}

body {
  font-family: "Dancing Script", cursive;
  font-family: "League Spartan", sans-serif;
  color: var(--text-color);
  line-height: 1.7;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

a {
  color: var(--text-color);
}

span {
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1rem;
}

.container {
  margin: 0 auto;
  width: var(--width-lg);
}

section {
  padding: 6rem 0 3rem;
}

section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.title h2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Dancing Script", cursive;
  color: var(--secondary-color);
  display: inline-block;
  position: relative;
}

.title h2::before {
  position: absolute;
  content: "";
  bottom: -21%;
  left: 0;
  transform: translateY(-50%);
  width: 10rem;
  height: 0.1rem;
  background: var(--secondary-color);
}

input:focus {
  outline: none;
}

/*-------------------------- NAVBAR CSS ----------------------------*/
nav {
  background-color: var(--text-color);
  color: var(--primary-color) !important;
}

.logo {
  color: var(--primary-color);
  padding: 1rem 0;
}

.logo div:first-child {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.27rem;
}

.logo div:first-child span {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1;
  color: var(--tertiary-color);
}

.logo div:last-child {
  line-height: 1;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.47rem;
  color: #999;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .navlist {
  display: flex;
}

nav .navlist li {
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
  z-index: 111;
}

nav .navlist li a {
  color: var(--primary-color);
  padding: 2rem;
  position: relative;
}

.navlist li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--secondary-color);
  height: 0;
  width: 100%;
  border-bottom: 0.2rem solid var(--primary-color);
  z-index: -1;
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
}

.navlist li a:hover:before,
.navlist li a.active:before {
  height: 95%;
  opacity: 1;
  visibility: visible;
}

.menu-btn .lnr {
  font-size: 1.1rem;
  display: none;
}

.nav-icons {
  display: flex;
  gap: 2rem;
}

.nav-icons .lnr {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-icons .lnr:hover {
  color: var(--secondary-color);
}

/*-------------------------- FOOTER ----------------------------*/
footer {
  box-shadow: var(--shadow);
  padding: 4rem 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer-container .logo div:first-child {
  color: var(--text-color);
}

.footer-container .box:first-child p {
  padding: 1rem 0;
}

.footer-container .box p {
  color: var(--grey-tertiary-color);
}

.footer-container .box h4 {
  margin-bottom: 1.8rem;
}

.footer-container .box ul li {
  margin-bottom: 0.5rem;
}

.footer-container .box ul li a {
  color: var(--grey-tertiary-color);
}

.footer-container .box .newsletter {
  display: flex;
  padding: 2rem 0;
}

.footer-container .box .newsletter input {
  height: 3rem;
  width: 24rem;
  padding: 0.6rem;
  background: #eee;
}

.footer-container .box .newsletter .btn {
  height: 3rem;
  width: 3rem;
  padding: 0.6rem;
  background: var(--secondary-color);
  margin: 0;
  border: 0;
  position: relative;
  left: -2rem;
  border-radius: 0 50% 50% 50%;
  cursor: pointer;
}

.footer-container .box .social {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: 2rem 0;
}

.footer-container .box .social i {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.footer-container .box .social i:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--shadow);
}

/* footer copyright text */
.copyright {
  text-align: center;
}


/* Loader css */
.loader {
  display: none;
  width: 70px;
  margin-top: 10px;
  aspect-ratio: 4;
  --c: #000 90%, #0000;
  background: radial-gradient(circle closest-side at left 6px top 50%, var(--c)),
    radial-gradient(circle closest-side, var(--c)),
    radial-gradient(circle closest-side at right 6px top 50%, var(--c));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: l4 1s infinite alternate;
}
@keyframes l4 {
  to {
    width: 25px;
    aspect-ratio: 1;
  }
}

/*-------------------------- RESPONSIVE | TABLET ----------------------------*/

@media (max-width: 1050px) {
  .menu-btn .lnr {
    display: block;
  }

  nav .navlist {
    flex-direction: column;
    position: absolute;
    top: 4.7rem;
    right: 5rem;
    width: 22rem;
    background: var(--text-color);
    z-index: 11;
    display: none;
    opacity: 0;
    transition: var(--transition);
  }

  nav .navlist.active {
    display: flex;
    opacity: 1;
    top: 4.7rem;
  }

  nav .navlist li a {
    display: inline-block;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  section {
    padding: 3rem 0;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 824px) {
  .title h2 {
    font-size: 2.7rem;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

/*-------------------------- RESPONSIVE | TABLET ----------------------------*/

@media (max-width: 660px) {
  .container {
    width: var(--width-sm);
  }

  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-container .logo img {
    width: 350px;
  }

  .footer-container .box {
    width: var(--width-sm);
  }
}
