/*-------------------------- HOME ----------------------------*/
.home{
    padding: 0;
}

.home .slide1{
<<<<<<< HEAD:styles/style.css
    background-image: url(../assets/bg4.jpg);
=======
    background-image: url(./assets/bg4.jpg);
>>>>>>> a1518a3198d9054216754dc0f6658ed6f31c9a36:style.css
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.home .slide2{
    background-image: url(../assets/woman.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.home .slide3{
    background-image: url(../assets/b1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.home .slide4{
    background-image: url(../assets/bg3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.home .swiper-slide{
    position: relative;
}

.home .swiper-slide .content{
    position: absolute;
    transform: translate(20%, 50%);
    max-width: 550px;
}

.home h1{
    font-size: 3.2rem;
    text-transform: capitalize;
    font-weight: 800;
    color: var(--primary-color);
}

.home .content p{
    margin: 2rem 0 1rem;
    color: #eee;
}

.home .home-search input{
    height: 4rem;
    width: 25rem;
    border-radius: 3rem;
    padding: 1rem 1.6rem;
    padding-left: 1.9rem;
    font-size: 1rem;
}

.home .home-search .btn{
    padding: 1rem 1.6rem;
    height: 4rem;
    width: 4rem;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0 50% 50% 50%;
    position: relative;
    left: -4rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.home-search .lnr{
    font-size: 1rem;
    font-weight: 700;
}

.home .swiper-button-next.swiper-button-disabled,
.home .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
}

.home .swiper-button-next::after{
    color: var(--primary-color);
    background: var(--secondary-color);
    font-size: 2rem;
    font-weight: 900;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: absolute;
    bottom: -9rem;
    right: -3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .swiper-button-prev::after{
    color: var(--primary-color);
    background: var(--secondary-color);
    font-size: 2rem;
    font-weight: 900;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: absolute;
    bottom: -9rem;
    left: -3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------------------------- ABOUT ----------------------------*/
.about-container .right{
    position: relative;
}

.about-container .right::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: -3rem;
    right: -9rem;
    background: url(../assets/dots.png) no-repeat;
}

.about-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.about-container .left{
    background: url(../assets/KN\ 8.jpg);
    max-height: 100vh;
    width: 100%;
    background-position: center;
    z-index: 11;
    position: relative;
}

.about-container .left .content{
    position: absolute;
    top: 33%;
    left: 0.8rem;
    max-width: 19rem;
}

.about-container .title{
    text-align: left;
    margin-bottom: 0;
}

.about-container .title h2{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.about-container .left h2::before{
    top: -1.2rem;
}

.about-container .content p{
    color: var(--grey-tertiary-color);
}

.about-container .btn{
    background: none;
    color: var(--secondary-color);
    font-size: .9rem;
    font-weight: 700;
    cursor: pointer;
}

.about-container .right .image{
    position: relative;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: -9rem;
    z-index: 11;
}

.about-container .right .image img{
    border-radius: .5rem;
    max-width: 500px;
    box-shadow: var(--shadow);
}



/*-------------------------- SERVICES ----------------------------*/
.services{
    background: #f8f8f8;

}

.services-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.services-container .col .info{
    padding: 1rem 1.5rem;
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 3rem);
    transition: var(--transition);
    transition-duration: .3s;
}

.services-container .col h4{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
}

/* .services-container .col:hover h4{
    color: var(--secondary-color);
} */

.services-container .col ul{
    display: flex;
    gap: 1rem;
    color: var(--grey-tertiary-color);
    font-size: 1.2rem;
}

.services-container ul .dis{
    text-decoration: line-through;
    color: var(--secondary-color);
}

.services-container .col a{
    font-size: 1.1rem;
    color: var(--secondary-color);
    font-weight: 600;
    transition: var(--transition);
}

.services-container .col a:hover{
    color: var(--text-color);
}

.services-container .col:hover .info{
    background: var(--primary-color);
    box-shadow: var(--shadow);
    top: -2.2rem;
}

.services-container .col:nth-child(2):hover .info,
.services-container .col:nth-child(4):hover .info{
    top: 2.2rem;

}



/*-------------------------- SHOP ----------------------------*/

.shop{
    background: url('../assets/section1.png');
    margin-top: 3rem;
    padding: 3rem 0;
}

.shop .swiper-slide{
    margin-bottom: 2rem;    
}

.shop .swiper-slide .box{
    text-align: center;
}

.shop .swiper-slide .image{
    padding: 1rem .2rem 2rem;
    background: var(--primary-color);
    position: relative;
}

.shop .image img{
    height: 266px;
    width: 266px;
    padding: 2rem;
    margin: auto;
}

.shop .swiper-slide .add{
    position: absolute;
    bottom: -1rem;
    left: 0;
    background: var(--secondary-color);
    color: var(--primary-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}

.shop .swiper-slide .add .lnr{
    padding: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.shop .swiper-slide .info{
    padding: 2rem;
    z-index: 1;
    transition: var(--transition);
    position: relative;
    top: -1rem;
}

.shop .swiper-slide .info p{
    color: var(--grey-tertiary-color);
    font-size: 1.1rem;
}

.shop .swiper-slide .info h4{
    font-weight: 300;
}

.shop .swiper-slide .info span{
    color: var(--grey-tertiary-color);
    font-size: 1rem;
}

.shop .swiper-slide:hover .add {
    opacity: 1;
    visibility: visible;
    bottom: -1rem;
}

.shop .swiper-slide .add .lnr:hover{
    color: var(--secondary-color);
    background: var(--primary-color);
}

.shop .swiper-slide:hover .info{
    box-shadow: var(--shadow);
    background: var(--primary-color);
    top: 0;
}

/*-------------------------- TESTIMONIALS ----------------------------*/
.testimonial .swiper-slide{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.testimonial .swiper-wrapper{
    width: 570px;
}

.testimonial .swiper-slide .quote img{
    width: 3rem;
}

.testimonial .profile{
    display: flex;
    gap: 2rem;
}

.testimonial .profile img{
    width: 7rem;
    border-radius: .5rem;
    border: .3rem solid var(--secondary-color);
}

.testimonial .swiper-slide p{
    font-size: 1.5rem;
}

.testimonial .swiper-slide .dot{
    display: flex;
    gap: 2rem;
}

.testimonial .swiper-slide .rating{
    color: var(--secondary-color);
}

.testimonial .swiper-slide .rating i{
    font-size: 1.2rem;
}

.testimonial .swiper-slide{
    margin-bottom: 4rem;
}

.testimonial .swiper-pagination-bullet{
    height: 1rem;
    width: 1rem;
    background: var(--secondary-color);
}


/*-------------------------- EXPERTS ----------------------------*/
.experts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.experts .box .image{
    position: relative;
    width: calc(100% - 2rem);
}

.experts .box .image img{
    filter: grayscale(1);
}

.experts .image span{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .8);
    height: 100%;
    width: 100%;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
}

.experts .box:hover .image span{
    visibility: visible;
    opacity: 1;
}

.experts .box:hover img{
    filter: grayscale(0);
}

.experts .image .social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    transition: var(--transition);
}

.experts .image .social i{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experts .box:hover .social{
    opacity: 1;
    bottom: 20%;
}

.experts .image .social i:hover{
    color: var(--primary-color);
    background: var(--secondary-color);
}

.experts .box .info{
    padding: 1rem;
    background: #eee;
    border: .5rem solid var(--primary-color);
    width: calc(100% - 2rem);
    position: relative;
    top: -2rem;
    left: 2rem;
    text-align: center;
    transition: var(--transition);
}

.experts .box .info h3{
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.experts .box .info span{
    color: var(--grey-tertiary-color);
    font-size: 1.1rem;
}

.experts .box:hover .info{
    top: -1rem;
}

.experts .box:hover .info h3{
    color: var(--secondary-color);
}

/*-------------------------- BLOG ----------------------------*/
.blog-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.blog-container .box{
    width: calc(50% - 1rem);
}

.blog-container .box .image{
    position: relative;
}

.blog-container .box .image img{
    transition: var(--transition);
    /* filter: grayscale(1); */
}
/* 
.blog-container .box:hover img{
    filter: grayscale(0);
} */

.blog-container .tag{
    position: absolute;
    top: -.3rem;
    left: -.3rem;
    color: var(--primary-color);
    background: var(--secondary-color);
    border: .3rem solid var(--primary-color);
    padding: 1rem 2rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blog-container .tag span:first-child{
    font-size: 2rem;
    font-weight: 600;
}

.blog-container .tag span:last-child{
    font-size: 1.2rem;
    font-weight: 600;
}

.blog-container .box .detail{
    width: calc(100% - 4rem);
    padding: 2rem;
    position: relative;
    top: -4rem;
    left: 2rem;
    background: var(--primary-color);
    transition: var(--transition);
}

.blog-container .box .respnc{
    padding: .7rem 0;
    display: flex;
    gap: 1.5rem;
}

.blog-container .box:hover .detail{
    box-shadow: var(--shadow);
}

/*-------------------------- CONTACT ----------------------------*/
.contact{
    background: #f8f9f9;
}

.contact-container .title{
    text-align: start;
}

.contact-container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-container .left{
    width: calc(60% - 2rem);
}

.contact-container .right{
    width: calc(40% - 2rem);
}

.contact-form .form-name{
    display: flex;
    width: 100%;
    gap: 1rem;
}

.contact-container .contact-form input,
.contact-container .contact-form textarea{
    border: .1rem solid var(--secondary-color);
    width: 100%;
    padding: 1rem;
    margin: .5rem 0;
}

.contact-container .contact-form .btn{
    position: relative;
    padding: 1.5rem;
    cursor: pointer;
    z-index: 11;
    border: .1rem solid var(--secondary-color);
    background: none;
    transition: var(--transition);
}

.contact-form .btn span{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--secondary-color);
    height: 0%;
    width: 100%;
    border-bottom: .2rem solid var(--text-color);
    transition: var(--transition);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.contact-form .btn:hover span{
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.contact-form .btn:hover{
    color: var(--primary-color);
}

.contact-container .right p{
    margin: 1rem 0;
}

.contact-container .right span{
    font-weight: 500;
    font-size: 1rem;
}



/*-------------------------- RESPONSIVE | TABLET ----------------------------*/

@media (max-width: 1050px) {
    .about-container .left .content{
        left: 2.2rem;
    }

    .about-container .right .image{
        margin-left: -4rem;
    }

    .services-container,
    .experts-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .contact-container .right p{
        margin: .5rem 0;
    }
}


@media (max-width: 824px) {
    .about-container{
        grid-template-columns: 1fr;
    }

    .about-container .left{
        height: 100vh;
    }

    .services-container,
    .experts-container{
        grid-template-columns: 1fr 1fr;
    }

    .blog-container .box,
    .contact-container .col{
        width: 100%;
    }




}



/*-------------------------- RESPONSIVE | TABLET ----------------------------*/

@media (max-width: 660px){
    .home h1{
        font-size: 3rem;
    }

    .home .swiper-slide .content{
        transform: translate(0, 70%);
        text-align: center;
    }

    .home .content p{
        margin: 1rem .5rem;
    }

    .home .home-search input{
        height: 3rem;
        max-width: 18rem;
    }

    .home .home-search .btn{
        height: 3rem;
        width: 3rem;
        padding: 1rem;
        left: -3rem;
        top: .09rem;
    }

    .home .swiper-button-next::after,
    .home .swiper-button-prev::after{
        top: -15rem;
    }

    .contact-container .right iframe{
        padding-right: 56.25%;
    }
    
    .services-container,
    .experts-container{
        grid-template-columns: 1fr;
    }

    .testimonial .swiper-slide .profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

<<<<<<< HEAD:styles/style.css
=======
    .footer-container .logo img{
        width: 400px;
    }
>>>>>>> a1518a3198d9054216754dc0f6658ed6f31c9a36:style.css
}